body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #75f8e2, #c77dff);
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 70%;
    margin: auto;
    background: rgb(221, 54, 185);
    padding: 25px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: #ffe4f2;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    background: #e62971;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #c2185b;
    transform: scale(1.05);
}

.resultado {
    border: 1px solid #ff92c0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background: #e62971;
    color: white;
    padding: 8px;
}

td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

hr {
    border: none;
    border-top: 1px solid #ff92c0;
    margin-top: 15px;
}